@font-face {
  font-family: spaceMono-bold;
  src: url(../src/assets/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: spaceMono-reg;
  src: url(../src/assets/SpaceMono-Regular.ttf);
}

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-color: #141d2f;
  display: flex;
}
#root{
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
align-items: center;
font-family: spaceMono-reg;
}